name: Publish file to Zenodo

on:
  workflow_call:
    inputs:
      use_sandbox:
        required: true
        type: "boolean"
        default: true
      upload-file-path:
        required: true
        type: "string"
    secrets:
      # Can be either for Sandbox or Public Zenodo
      zenodo-token:
        required: true

jobs:
  publish-file-to-zenodo:
    name: Publish file to Zenodo
    runs-on: ubuntu-latest
    concurrency:
      group: publish-file-to-zenodo-group
      cancel-in-progress: false
    steps:
      # - name: Harden the runner (Audit all outbound calls)
      #   uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      #   with:
      #     egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
      - name: Testing API
        env:
          REPO_URL: "${{ github.server_url }}/${{ github.repository }}"
          ZENODO_FILE: ".zenodo.json"
        run: |
          if [[ -z "${{ secrets.zenodo-token }}" ]]; then
            echo "Zenodo token is not set. You need to add a token as a secret to be able to interact with Zenodo."
            exit 1
          fi

          if [ "${{ inputs.use_sandbox }}" = "true" ]; then
            ZENODO_API_URL="https://sandbox.zenodo.org/api/deposit/depositions"
          else
            ZENODO_API_URL="https://zenodo.org/api/deposit/depositions"
          fi

          # Functions
          get_account_deposits() {
            curl \
              --silent \
              --header "Authorization: Bearer ${{ secrets.zenodo-token }}" \
              $ZENODO_API_URL
          }

          # One arg: JSON array of deposits
          get_deposit_id_for_repo() {
            jq --arg repo "$REPO_URL" \
              '.[] | select(.metadata.related_identifiers[]?.identifier | contains($repo)).id' \
              <<< "$1"
          }

          # TODO: Need to also include version/tag here?
          read_zenodo_json() {
            echo "{\"metadata\": $(cat $1 | jq -c)}"
          }

          # Args: 1. Metadata from '.zenodo.json'
          create_new_deposit() {
            curl \
              --silent \
              --request POST \
              --header "Authorization: Bearer ${{ secrets.zenodo-token }}" \
              --header 'Content-Type: application/json'  \
              --data "$1" \
              $ZENODO_API_URL
          }

          # Args: 1. Deposit JSON
          get_deposit_file_url() {
            jq -r '.links.files' <<< "$1"
          }

          upload_file_to_deposit() {
            local zen_api_file_url=$1
            local file_path=$2
            curl \
              --silent \
              --header "Authorization: Bearer ${{ secrets.zenodo-token }}" \
              -F name="${file_path}" \
              -F file=@${file_path} \
              "$zen_api_file_url"
          }

          # Args: 1. Deposit JSON
          get_deposit_id() {
            jq -r '.id' <<< "$1"
          }

          get_deposit_html() {
            local deposit_json=$1
            jq -r '.links.html' <<< "$deposit_json"
          }

          publish_deposit() {
            local deposit_id=$1
            curl \
              --silent \
              --request POST \
              --header "Authorization: Bearer ${{ secrets.zenodo-token }}" \
              --header 'Content-Type: application/json'  \
              "${ZENODO_API_URL}/${deposit_id}/actions/publish"
          }

          edit_deposit() {
            local deposit_id=$1
            curl \
              --silent \
              --request POST \
              --header "Authorization: Bearer ${{ secrets.zenodo-token }}" \
              --header 'Content-Type: application/json'  \
              "${ZENODO_API_URL}/${deposit_id}/actions/edit"
          }

          get_deposit_files() {
            local deposit_id=$1
            curl \
              --silent \
              --header "Authorization: Bearer ${{ secrets.zenodo-token }}" \
              "${ZENODO_API_URL}/${deposit_id}/files"
          }

          delete_deposit_file() {
            local deposit_id=$1
            local file_id=$2
            curl \
              --silent \
              --request DELETE \
              --header "Authorization: Bearer ${{ secrets.zenodo-token }}" \
              "${ZENODO_API_URL}/${deposit_id}/files/${file_id}"
          }

          # Steps

          if [[ ! -f "$ZENODO_FILE" ]]; then
            echo "ERROR: The repository doesn't have a '$ZENODO_FILE'. To publish to Zenodo, it needs one."
            exit 1
          fi

          deposit_id=$(get_deposit_id_for_repo "$(get_account_deposits)")

          if [[ ! $deposit_id ]]; then
            echo "INFO: No deposit found for GitHub repository '${{ github.repository }}'. Creating a new deposit."
            metadata=$(read_zenodo_json "$ZENODO_FILE") 
            draft_deposit=$(create_new_deposit "$metadata")
            file_url=$(get_deposit_file_url "$draft_deposit")
            uploaded_file=$(upload_file_to_deposit "$file_url" "${{ inputs.upload-file-path }}")
            new_deposit_id=$(get_deposit_id "$draft_deposit")
            new_deposit=$(publish_deposit "$new_deposit_id")
            deposit_html=$(get_deposit_html "$new_deposit")
            echo "INFO: Published new deposit to Zenodo with ID '$deposit_html'".
          elif [[ $(echo $deposit_id | wc -l) -ne 1 ]]; then
            echo "ERROR: More than one deposit is found for the repository ${{ github.repository }}. One might be a draft. Please delete any duplicates."
          elif [[ $(echo $deposit_id | wc -l) -eq 1 ]]; then
            echo "INFO: Deposit found for GitHub repository '${{ github.repository }}' with deposit ID '$deposit_id'. Updating existing deposit."
          fi

