name: Publish file to Zenodo

on:
  workflow_call:
    inputs:
      use_sandbox:
        required: true
        type: "boolean"
        default: true
    secrets:
      # Can be either for Sandbox or Public Zenodo
      zenodo-token:
        required: true

jobs:
  publish-file-to-zenodo:
    name: Publish file to Zenodo
    runs-on: ubuntu-latest
    concurrency:
      group: publish-file-to-zenodo-group
      cancel-in-progress: false
    steps:
      # - name: Harden the runner (Audit all outbound calls)
      #   uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      #   with:
      #     egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
      - name: Testing API
        env:
          REPO_URL: "${{ github.server_url }}/${{ github.repository }}"
        run: |
          if [[ -z "${{ secrets.zenodo-token }}" ]]; then
            echo "Zenodo token is not set. You need to add a token as a secret to be able to interact with Zenodo."
            exit 1
          fi

          if [ "${{ inputs.use_sandbox }}" = "true" ]; then
            ZENODO_API_URL="https://sandbox.zenodo.org/api/deposit/depositions"
          else
            ZENODO_API_URL="https://zenodo.org/api/deposit/depositions"
          fi

          # Functions
          get_account_deposits() {
            curl \
              --header "Authorization: Bearer ${{ secrets.zenodo-token }}" \
              $ZENODO_API_URL
          }

          # One arg: JSON array of deposits
          get_deposit_id_for_repo() {
            echo $1 | \
              jq --arg repo "${REPO_URL}" \
              '.[]'
          }

          account_deposits=$(get_account_deposits)
          echo $account_deposits
          echo $(get_deposit_id_for_repo $account_deposits)

